<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://192.168.51.31:8080/IA-1319-1.1.0%281849%29.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>http://192.168.51.31:8080/-/unzip/IA-1319-1.1.0%281849%29.ipa/-/%2A%2A/AppIcon20x20.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.narwelrobots.www</string>
                    <key>bundle-version</key>
                    <string>1.0.10</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>云鲸智能</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>